# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

result/
*.result

/bin/serialtest/serialtest
/bin/serialtest/serialtest-raspi
/bin/serialmotortest/serialmotortest
/bin/serialmotortest/serialmotortest-raspi
/bin/serialspeedtest/serialspeedtest
/bin/serialspeedtest/serialspeedtest-raspi
/bin/cartpoletest/cartpoletest
/bin/cartpoletest/cartpoletest-raspi
